body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4ecd7 !important;
  /* prevent select any on page */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  background: silver;
  padding: 10px 15px 0 105px !important;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 10px;
  max-width: 1100px !important;
}

.col {
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

textarea {
  border-radius: 5px;
  min-height: 300px;
  text-align: left;
  overflow: hidden !important;
}

.textarea-left {
  margin-top: 7px !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.buttons_block {
  margin: 94px 30px 0px 0px;
}

.buttons_block button {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.underlineNumbers {
  text-decoration: underline;
  font-size: large;
  font-weight: bolder;
  margin-right: 10px;
}

.underline-left {
  padding-top: 4px;
}
/* footer */
.middlePos {
  font-size: 13px !important;
}
 